<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <CustomAction
      Id="CreateHduStartupTask"
      Directory="INSTALLDIR"
      ExeCommand="hdu-library-sniper.exe --install-startup"
      Execute="deferred"
      Impersonate="yes"
      Return="ignore" />
    <CustomAction
      Id="DeleteHduStartupTask"
      Directory="INSTALLDIR"
      ExeCommand="hdu-library-sniper.exe --uninstall-startup"
      Execute="deferred"
      Impersonate="yes"
      Return="ignore" />
    <InstallExecuteSequence>
      <Custom Action="CreateHduStartupTask" After="InstallFiles">NOT Installed</Custom>
      <Custom Action="DeleteHduStartupTask" Before="RemoveFiles">REMOVE="ALL"</Custom>
    </InstallExecuteSequence>
  </Fragment>
</Wix>
